[submodule "lib/unikraft"]
	path = lib/unikraft
	url = https://github.com/unikraft/unikraft
[submodule "lib/lib-musl"]
	path = lib/lib-musl
	url = https://github.com/extinctpotato/unikraft-lib-musl.git 
[submodule "lib/lib-lwip"]
	path = lib/lib-lwip
	url = https://github.com/unikraft/lib-lwip
[submodule "lib/lib-zlib"]
	path = lib/lib-zlib
	url = https://github.com/unikraft/lib-zlib.git
[submodule "lib/lib-compiler-rt"]
	path = lib/lib-compiler-rt
	url = https://github.com/unikraft/lib-compiler-rt.git
